/* Custom styles for footer region of pages */

.nav-item-srm {
    position: absolute;
    float: left;
}
 

/* Sets a bg gradient on the main content area from white to light gray. */
.bg-gradient-srm {
    background: rgb(51,51,51);
    background: linear-gradient(0deg, rgba(160,160,160,1) 5%, rgba(255,255,255,1) 65%);
}

/* Sets the font-color of the portfolio project cards to a slightly muted gray by default. */
.port-project-card {
    color: #DCDEE0;
}

/* Adds a slight hover effect on the title whitening the font color. */
.port-project-card:hover {
    color: #ffffff;
}

/* Positions the portfolio project title to the bottom of the image, sets it to full width. */
.port-project-title {
    position: absolute; 
    bottom: 0px; 
    width: 100%;
    /* color: #DCDEE0; */
}


