/* Custom Styles for Header & Nav regions of Page */

/* Standard link state (no mouse interaction) set to grey */
.nav-link {
    color: #6c757d;
}

/* Link state when mouse hovers over the link set to white */
.nav-link:hover {
    color: #ffffff;
}

/* Link state when clicked set to white */
.nav-link:active {
    color: #ffffff;
}

/* Class sets an active page look of white to the nav item of the current page */
.active-page {
    color: #ffffff;
}
