/* Style.css for additional styles and tweaks beyond default bootstrap styles. */
html {
    height: 100%;
    position: relative;
}

body {
    height: 100%;
}

.bg-gradient-srm {
    background: rgb(51,51,51);
    background: linear-gradient(0deg, rgba(160,160,160,1) 5%, rgba(255,255,255,1) 65%);
}

main {
    position: absolute;
    min-height: 100%;
}